*{
    margin: 0;
    padding: 0;
}
nav{
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(197, 73, 197);
    color: white;
}
main{
    height: 70vh;
}
span{
    font-size: 2rem;
    font-weight: bold;
}
ul{
    display: flex;
}

li{
    list-style: none;
    margin: 12px 12px 12px 12px;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}


footer{
    background-color: blueviolet;
    text-align: center;
}
footer > h4{
  
    font-size: 2rem;
    color: white;
    padding-top: 22px;
} 
footer > .icons{
    padding-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 21px;
}
footer > .icons> ul > {
    list-style: none;
}

footer > .icons >ul > li{
    list-style: none;
}
footer > .icons> ul > li> a>{
    list-style: none;
    text-decoration: none;

}
footer > .icons> ul > li> a> img{
    padding: 12px 12px 12px 12px;

   height: 40px;
}


@media screen and (max-width: 480px) and (min-width:280px) {
    span{
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  }